# dependencies
node_modules/

# environment variables
.env

# express routes (if intentional)
express/routes/**.js

# production build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
