/* PAGE WRAPPER */
.login-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

/* CARD */
.login-main {
  width: 350px;
  height: 500px;
  
  border-radius: 12px;
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

/* HIDE CHECKBOX */
.login-page #chk {
  display: none;
}

/* SECTIONS */
.login-page .signup,
.login-page .login {
  position: relative;
  width: 100%;
  height: 100%;
}

/* HEADINGS */
.login-page label {
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

/* INPUTS */
.login-page input {
  width: 70%;
  height: 22px;
  background: #e0dede;
  margin: 30px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  display: block;
}

/* BUTTON */
.login-page button {
  width: 74%;
  height: 42px;
  margin: 20px auto;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.login-page button:hover {
  background: #6d44b8;
}

/* LOGIN SLIDE */
.login-page .login {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login-page .login label {
  color: #573b8a;
  transform: scale(0.6);
}

/* TOGGLE EFFECT */
.login-page #chk:checked ~ .login {
  transform: translateY(-500px);
}

.login-page #chk:checked ~ .login label {
  transform: scale(0);
}

.login-page #chk:checked ~ .signup label {
  transform: scale(0.6);
}

/* ERROR */
.login-page .error-banner {
  color: #ff4d4d;
  text-align: center;
  font-weight: bold;
}

/* TITLE */
.login-page .head {
  font-size: 1.4rem;
}
